.button {
  margin-top: 8px;
  width: 128px;
  height: 48px;
  background: #e4c1ae;
  border-radius: 32px;
  border: none;

  &_text {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
  }
}
