h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--font-color);
  font-family: var(--main-font);
  height: 100vh;
}
ul,
li {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
