<!-- <ul class="gallery js-gallery"> ------- for templating
  <li> -->
<article class="box">
  <div class="box_picture">
    <img
      class="box_image"
      srcset="
        /images/w_200.jpg   200w,
        /images/w_450.jpg   450w,
        /images/w_480.jpg   480w,
        /images/w_538.jpg   538w,
        /images/w_596.jpg   596w,
        /images/w_630.jpg   630w,
        /images/w_694.jpg   694w,
        /images/w_720.jpg   720w,
        /images/w_767.jpg   767w,
        /images/w_784.jpg   784w,
        /images/w_1002.jpg 1002w,
        /images/w_1234.jpg 1234w,
        /images/w_1394.jpg 1394w,
        /images/w_1400.jpg 1440w
      "
      sizes="
      (min-width: 200px) 200w, 
      (min-width: 450px) 450w,
      (min-width: 480px) 480w,
      (min-width: 538px) 538w,
      (min-width: 596px) 596w, 
      (min-width: 630px) 630w
      (min-width: 694px) 694w
      (min-width: 720px) 720w
      (min-width: 767px) 767w
      (min-width: 784px) 784w
      (min-width: 1002px) 1002w
      (min-width: 1234px) 1234w
      (min-width: 1394px) 1394w
      (min-width: 1440px) 1440w
      "
      src="./images/w_200.jpg"
      alt="ocean"
    />
  </div>
  <div class="box_label">
    <h2 class="box_title">Lorem Ipsum</h2>
    <p class="box_text">
      Infinitely scalable, feature-rich and cloud-native data management and protection for modern
      and legacy infrastructures and SaaS platforms, managed via a single app with no hardware
      required.
    </p>
    <button class="button">
      <span class="button_text">Button</span>
    </button>
  </div>
</article>
<!-- <li>
</ul> -->

<!-- 
w200: './images/w_200.jpg 200w,
w450: ./images/w_450.jpg 450w,
w480: ./images/w_480.jpg 480w,
w538: ./images/w_538.jpg 538w,
w596: ./images/w_596.jpg 596w,
w630: ./images/w_630.jpg 630w,
w694: ./images/w_694.jpg 694w,
w720: ./images/w_720.jpg 720w,
w767: ./images/w_767.jpg 767w,
w784: ./images/w_784.jpg',
w1002: ./images/w_1002.jpg 1002w,
w1234: ./images/w_1234.jpg 1234w,
w1394: ./images/w_1394.jpg 1394w,
w1400: ./images/w_1400.jpg 1440w,' -->
