<!-- <ul class="gallery js-gallery"> ------- for templating
  <li> -->
<article class="box">
  <picture class="box_image">
    <source
      srcset="
        /images/w_200.jpg 200w,
        /images/w_450.jpg 450w,
        /images/w_630.jpg 630w,
        /images/w_767.jpg 767w
      "
      media="(max-width: 768px)"
      sizes="90vw"
    />
    <source
      srcset="/images/4_3w_538.jpg 538w, /images/4_3w_694.jpg 694w"
      media="(max-width: 1199px)"
      sizes="(min-width: 500px) 500px, 80vw"
    />
    <source
      srcset="
        /images/w_784.jpg   784w,
        /images/w_1002.jpg 1002w,
        /images/w_1234.jpg 1234w,
        /images/w_1394.jpg 1394w,
        /images/w_1400.jpg 1440w
      "
      media="(min-width: 1199px)"
      sizes="(min-width: 505px) 505px, 80vw"
    />
    <img class="box_image" src="/images/w_200.jpg" alt="ocean" />
  </picture>

  <div class="box_label">
    <h2 class="box_title">Lorem Ipsum</h2>
    <p class="box_text">
      Infinitely scalable, feature-rich and cloud-native data management and protection for modern
      and legacy infrastructures and SaaS platforms, managed via a single app with no hardware
      required.
    </p>
    <button class="button">
      <span class="button_text">Button</span>
    </button>
  </div>
</article>
